.header {
	text-align: left;
	height: 100px;
	opacity: 1;
	background-color: white;
	padding-top: 0px;
  padding-left: 20px;
  padding-right: 0px;
	width: 102%;
	position: fixed;
	z-index: 1;
	border-radius: 0px;
	font-family: Arial;
	padding-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 21.5;
	font-weight: bold;

}

.link {
  text-align: left;
  font-family: Arial;
	padding-left: 20px;
	text-align: left;

}

.linkContainer {
	height: auto;
	opacity: 1;
	background-color: white;
	padding-top: 0px;
  padding-left: 20px;
  padding-right: 0px;
	width: 102%;
	z-index: 1;
	border-radius: 0px;
	font-family: Arial;
	padding-bottom: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 15;

}

.container {
	text-align: left;
	height: 210px;
	opacity: 1;
	background-color: white;
	width: 102%;
	z-index: 1;
	border-radius: 0px;
	font-family: Arial;
	padding-left: 10px;
	padding-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12;

}

.title {
	font-size: 12;
	padding-top: 5px;

}

img {
	height: 130px;
	width: auto;
	padding: 7px;

}

body {
	margin: 0;
	background-color: white;

}
